* {
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#screen-preloader {
  background: #f00;
}
#screen-lock {
  background: #0f0;
}
#screen-main_menu {
  background: #00f;
}
#screen-game {
  background: #000;
}