<form action="" class="login">
	<div class="login_group">
		<label for="screen-lock--login" class="login_label">Login</label>
		<input id="screen-lock--login" type="text" class="login_input">
	</div>
	<div class="login_group">
		<label for="screen-lock--pass" class="login_label">Password</label>
		<input id="screen-lock--pass" type="password" class="login_input">
	</div>
	<div class="login_footer">
		<button type="submit" class="login_button">Login</button>
		<span class="login_or">Or</span>
		<a href="javascript: void(0);">Create an account</a>
	</div>
</form>